@using ActivityPaint.Client.Components.Models
@using ActivityPaint.Client.Components.UI.Editor.Toolbar

<div class="d-flex flex-column" style="width: 100%;">
    <h3>EditorComponent</h3>
    <EditorToolbarComponent IsDarkMode="IsDarkMode" OnEditorThemeChanged="OnEditorThemeChanged" />
    <div style="width: 100px; height: 100px; background-color: @(IsDarkMode ? "black" : "white")"></div>
</div>

@code {
    [CascadingParameter(Name = "Theme")]
    protected ThemeModel? Theme { get; set; }

    private bool IsDarkMode => _darkModeOverwrite ?? Theme?.IsDarkMode ?? false;
    private bool? _darkModeOverwrite;

    private void OnEditorThemeChanged(bool newValue)
    {
        _darkModeOverwrite = newValue;
        StateHasChanged();
    }
}
