#editor-canvas {
    --canvas-item-level0-color: #161b22;
    --canvas-item-level1-color: #0e4429;
    --canvas-item-level2-color: #006d32;
    --canvas-item-level3-color: #26a641;
    --canvas-item-level4-color: #39d353;

    width: 100%;
    height: auto;
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 3px;
    background-color: var(--canvas-item-level0-color);
}

    #editor-canvas * {
        user-select: none;
    }

    #editor-canvas td {
        z-index: -1;
    }

        #editor-canvas td:not(.disabled) {
            border: 1px solid black;
        }

        #editor-canvas td[data-level="0"], #editor-canvas td > div.hover[data-level="0"] {
            background-color: var(--canvas-item-level0-color);
        }

        #editor-canvas td[data-level="1"], #editor-canvas td > div.hover[data-level="1"] {
            background-color: var(--canvas-item-level1-color);
        }

        #editor-canvas td[data-level="2"], #editor-canvas td > div.hover[data-level="2"] {
            background-color: var(--canvas-item-level2-color);
        }

        #editor-canvas td[data-level="3"], #editor-canvas td > div.hover[data-level="3"] {
            background-color: var(--canvas-item-level3-color);
        }

        #editor-canvas td[data-level="4"], #editor-canvas td > div.hover[data-level="4"] {
            background-color: var(--canvas-item-level4-color);
        }

        #editor-canvas td > div {
            opacity: 0;
            aspect-ratio: 1 / 1;
        }

            #editor-canvas td > div.hover {
                opacity: 0.75;
            }
