#editor-canvas {
    --canvas-item-hover-color: #fffc;
    --canvas-item-level0-color: #161b22;
    --canvas-item-level1-color: #0e4429;
    --canvas-item-level2-color: #006d32;
    --canvas-item-level3-color: #26a641;
    --canvas-item-level4-color: #39d353;

    width: 100%;
    height: auto;
    margin: 0 auto;
    table-layout: fixed;
}

    #editor-canvas div {
        aspect-ratio: 1 / 1;
        border: 1px solid black;
    }

        #editor-canvas div[data-level="0"] {
            background-color: var(--canvas-item-level0-color);
        }

        #editor-canvas div[data-level="1"] {
            background-color: var(--canvas-item-level1-color);
        }

        #editor-canvas div[data-level="2"] {
            background-color: var(--canvas-item-level2-color);
        }

        #editor-canvas div[data-level="3"] {
            background-color: var(--canvas-item-level3-color);
        }

        #editor-canvas div[data-level="4"] {
            background-color: var(--canvas-item-level4-color);
        }