@using ActivityPaint.Client.Components.Enums
@using ActivityPaint.Client.Components.UI.Editor.PaintStage
@using ActivityPaint.Client.Components.UI.Shared.Components.Stage

<div class="d-flex flex-column" style="width: 100%;">
    <StagesContainerComponent @ref="_stagesContainer">
        <StageComponent Caption="Create new" Icon="@Icons.Material.Filled.OpenInNew">
            <h1>Create new stage</h1>
        </StageComponent>
        <StageComponent Caption="Edit" Icon="@Icons.Material.Filled.Brush">
            <EditorPaintComponent />
        </StageComponent>
        <StageComponent Caption="Generate" Icon="@CustomIcons.Gears">
            <h1>Generate stage</h1>
        </StageComponent>
    </StagesContainerComponent>
    <button @onclick="async () => await _stagesContainer.NextStage()">Next</button>
    <button @onclick="async () => await _stagesContainer.PreviousStage()">Previous</button>
</div>

@code {
    private StagesContainerComponent? _stagesContainer;
}
