<MudGrid Spacing="2" Justify="Justify.Center">
    <MudItem xs="12" sm="5" lg="4">
        <CreateNewUploadComponent />
    </MudItem>
    <MudItem xs="12" sm="1" Class="d-flex flex-column align-center justify-center">
        <h4>or</h4>
    </MudItem>
    <MudItem xs="12" sm="5" lg="4">
        <MudPaper Elevation="3" Class="d-flex flex-column align-center justify-center pa-4">
            <CreateNewDefineComponent />
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

}
