@using ActivityPaint.Client.Components.Editor.CreateNew
@using ActivityPaint.Client.Components.Editor.Generate
@using ActivityPaint.Client.Components.Editor.Paint
@using ActivityPaint.Client.Components.Shared
@using ActivityPaint.Client.Components.Shared.Components.Stage
@using System.Web
@using System.Collections.Specialized
@using System.Globalization
@using ActivityPaint.Core.Helpers
@inject NavigationManager Nav

<div class="d-flex flex-column" style="width: 100%;">
    <CascadingValue Value="_editorModel" Name="EditorModel">
        <StagesContainerComponent @ref="_stagesContainer">
            <StageComponent Caption="Create new" Icon="@Icons.Material.Filled.OpenInNew">
                <CreateNewComponent OnNextStageClicked="NextStage" />
            </StageComponent>
            <StageComponent Caption="Edit" Icon="@Icons.Material.Filled.Brush">
                <PaintComponent OnPreviousStageClicked="PreviousStage" OnNextStageClicked="NextStage" SetIsBusy="SetIsBusy" />
            </StageComponent>
            <StageComponent Caption="Generate" Icon="@CustomIcons.Gears">
                <GenerateComponent OnPreviousStageClicked="PreviousStage" />
            </StageComponent>
        </StagesContainerComponent>
    </CascadingValue>
</div>

@code {
    private StagesContainerComponent? _stagesContainer;
    private EditorModel _editorModel = new();

    protected override void OnInitialized()
    {
        var queryString = Nav.Uri.Split('?').ElementAtOrDefault(1);
        if (queryString is not null)
        {
            var query = HttpUtility.ParseQueryString(queryString);
            _editorModel = QueryToModel(query);
        }
        base.OnInitialized();
    }

    private static EditorModel QueryToModel(NameValueCollection query)
    {
        var name = query.Get("name");
        var dateString = query.Get("startDate");
        var dataString = query.Get("data");
        var darkModeString = query.Get("darkMode");

        return new()
        {
            Name = name,
            StartDate = DateTime.TryParseExact(dateString, "yyyy-MM-dd", CultureInfo.InvariantCulture, DateTimeStyles.None, out var date) ? date : null,
            CanvasData = dataString is null ? null : CanvasDataHelper.ConvertToList(dataString),
            IsDarkModeDefault = bool.TryParse(darkModeString, out var darkMode) ? darkMode : null
         };
    }

    private async Task NextStage()
    {
        if (_stagesContainer is null) return;

        await _stagesContainer.NextStage();
    }

    private async Task PreviousStage()
    {
        if (_stagesContainer is null) return;

        await _stagesContainer.PreviousStage();
    }

    private async Task SetIsBusy(bool isBusy)
    {
        if (_stagesContainer is null) return;

        await _stagesContainer.SetIsBusy(isBusy);
    }
}
