<div class="btn-toolbar w-100" role="toolbar">
    <div class="btn-group" role="group">
        <input type="radio" class="btn-check" name="btn-tools" id="btn-tool-brush" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="btn-tool-brush"><span class="bi bi-brush-fill" aria-hidden="true"></span></label>

        <input type="radio" class="btn-check" name="btn-tools" id="btn-tool-eraser" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btn-tool-eraser"><span class="bi bi-eraser-fill" aria-hidden="true"></span></label>

        <input type="radio" class="btn-check" name="btn-tools" id="btn-tool-fill" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btn-tool-fill"><span class="bi bi-paint-bucket" aria-hidden="true"></span></label>
    </div>
    <div class="input-group">
        <div class="input-group-text">Size</div>
        <input type="number" min="1" class="form-control">
    </div>
</div>

@code {

}
