::deep .message-preview__textarea > div {
    background-color: var(--mud-palette-background-gray);
    padding: .125rem .5rem;
}

    ::deep .message-preview__textarea > div textarea {
        white-space: pre;
    }
