.item-container ::deep .mud-card-header-content {
    overflow: hidden;
}

.item-container ::deep .mud-card-header-actions {
    display: none;
    margin-top: .125rem;
}

.item-container:hover ::deep .mud-card-header-actions {
    display: block;
}