@using ActivityPaint.Client.Components.Shared.Services
@inject IAppInitializationService AppInitializationService

<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        @if (_appInitialized)
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
        else
        {
            <p>Initializing..</p>
        }
    </Found>
</Router>

@code {
    private bool _appInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        await AppInitializationService.InitAsync();

        await base.OnInitializedAsync();
    }
}