@using ActivityPaint.Client.Components.Shared.Services
@inject IAppInitializationService AppInitializationService

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (_appInitialized)
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
        else
        {
            <p>Initializing..</p>
        }
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private bool _appInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        await AppInitializationService.InitAsync();
        _appInitialized = true;

        await base.OnInitializedAsync();
    }
}