<div>
    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
        <MudIconButton Disabled="!SizeSelectEnabled" Icon="@Icons.Material.TwoTone.Add" OnClick="async () => await UpdateBrushSize(BrushSize + 1)" />
        <MudNumericField Disabled="!SizeSelectEnabled" HideSpinButtons="true" @bind-Value:get="BrushSize" @bind-Value:set="UpdateBrushSize" Min="@MinSize" Max="@MaxSize" Class="brush-size__input" />
        <MudIconButton Disabled="!SizeSelectEnabled" Icon="@Icons.Material.TwoTone.Remove" OnClick="async () => await UpdateBrushSize(BrushSize - 1)" />
    </MudButtonGroup>
</div>

@code {
    private const int MinSize = 1;
    private const int MaxSize = 30;

    [Parameter]
    public bool SizeSelectEnabled { get; set; } = true;

    [Parameter]
    public int BrushSize { get; set; }

    [Parameter]
    public EventCallback<int> BrushSizeChanged { get; set; }

    private async Task UpdateBrushSize(int value)
    {
        var newSize = Math.Clamp(value, MinSize, MaxSize);
        if (newSize != BrushSize)
        {
            await BrushSizeChanged.InvokeAsync(newSize);
        }
    }
}
