.brush-size__input {
    -moz-appearance: textfield;
    text-align: center;
    padding: .25rem .5rem;
    height: 2.5rem;
}

    .brush-size__input::-webkit-outer-spin-button,
    .brush-size__input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
