<div>
    <StagesProgressBarComponent Stages="_stages" CurrentStage="CurrentStage" />
    <CascadingValue Name="RegisterStage" Value="RegisterStage">
        <CascadingValue Name="CurrentStage" Value="CurrentStage">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
    <button @onclick="() => CurrentStage--">Prev</button>
    <button @onclick="() => CurrentStage++">Next</button>
</div>

@code {
    private List<StageComponent> _stages = new();

    [Parameter]
    public int? CurrentStage { get; set; } = 0;

    [Parameter]
    public RenderFragment? ChildContent{ get; set; }

    private int RegisterStage(StageComponent stage)
    {
        _stages.Add(stage);
        return _stages.Count - 1;
    }
}
