@using ActivityPaint.Client.Components.Shared.Components.Code

<MudContainer>
    <MudText Typo="Typo.h5">Saving preset</MudText>
    <MudText Typo="Typo.h6" Class="my-2">Overview</MudText>
    <CodeComponent>ap-cli.exe save [OPTIONS]</CodeComponent>
    <MudText Typo="Typo.body1" Class="mt-1 mb-2">
        Alias: <CodeComponent>s</CodeComponent>
    </MudText>
    <MudText Typo="Typo.body1">
        This command allows to create a preset file by passing all the details as arguments.
        By default, preset files should be in the <CodeComponent>.json</CodeComponent> extension, so they can be
        easily opened by web and desktop applications.
    </MudText>
    <MudText Typo="Typo.h6" Class="my-2">Options</MudText>
    <MudSimpleTable>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><CodeComponent>-n|--name</CodeComponent></td>
                <td><CodeComponent>string</CodeComponent></td>
                <td><CodeComponent>@(new DateTime(DateTime.Now.Year, 1, 1).ToString("yyyy-MM-dd"))</CodeComponent> (first day of the current year)</td>
                <td>Preset name</td>
            </tr>
            <tr>
                <td><CodeComponent>-s|--start-date</CodeComponent></td>
                <td><CodeComponent>date</CodeComponent></td>
                <td><CodeComponent>@(new DateTime(DateTime.Now.Year, 1, 1).ToString("yyyy-MM-dd"))</CodeComponent> (first day of the current year)</td>
                <td>Start date of the canvas data in yyyy-MM-dd format</td>
            </tr>
            <tr>
                <td><CodeComponent>-d|--data</CodeComponent></td>
                <td><CodeComponent>string</CodeComponent></td>
                <td></td>
                <td>Canvas data in an encoded string form</td>
            </tr>
            <tr>
                <td><CodeComponent>--dark-mode</CodeComponent></td>
                <td><CodeComponent>bool</CodeComponent></td>
                <td><CodeComponent>false</CodeComponent></td>
                <td>Use dark mode as a default preview theme</td>
            </tr>
            <tr>
                <td><CodeComponent>-o|--output</CodeComponent></td>
                <td><CodeComponent>string</CodeComponent></td>
                <td></td>
                <td>Path to the output JSON preset file</td>
            </tr>
            <tr>
                <td><CodeComponent>--force</CodeComponent></td>
                <td><CodeComponent>bool</CodeComponent></td>
                <td><CodeComponent>false</CodeComponent></td>
                <td>Overwrite the existing file</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    <MudText Typo="Typo.h6" Class="my-2">Examples</MudText>
    <CodeComponent Block="true">
        ap-cli.exe save --name Rainbow --start-date 2020-01-01 --data eAFiZmJkYGRiZmEepekQDgAAAAD//w== --dark-mode --output "./rainbow.json" --force
    </CodeComponent>
    <CodeComponent Block="true">
        ap-cli.exe s -n "Random shapes" -s 2024-01-01 -d eAGUTkESACEIMsf/v3kJ0pymDutBRFE0axF/o+0+ymA/CLgONj2Ug3V5LpazVBLbFfCHV7Y1327lIwf9oIu5cmI91YtTtLhPjfkdBsKcGfIPAAD//w== --output "./shapes.json"
    </CodeComponent>
</MudContainer>

@code {

}
