::deep .templated-radio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

::deep .templated-radio__item {
    width: 100%;
    border: 2px solid var(--mud-palette-dark);
    border-radius: .5rem;
    padding: .5rem 1rem;
    text-align: center;
}

::deep .templated-radio__item > span {
    text-align: center;
}

    ::deep .templated-radio__item:hover {
        border-color: var(--mud-palette-primary-darken);
    }

    ::deep .templated-radio__item.active {
        border-color: var(--mud-palette-primary);
        background-color: #0002;
    }
